*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122157;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;

}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul li a{
    color: #fff;
}

ul li a:hover{
    font-size: 16.5px;
    transition: 0.5s;
}


header .menu{
    justify-content: space-between;
}

header h1{
    font-weight:bolder;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height:200px ;
}

.texto-apresentacao h1{
    color: #122157;
    font-size: 48px;
    margin-bottom: 15px;
}

.texto-apresentacao p{
    font-size: 17px;
    margin-bottom: 22px;
}

.texto-apresentacao a{
    color: #fff;
    background-color: #122157;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-apresentacao a:hover{
    font-size: 16.5px;
    transition: 0.5s;
}

